# Visual Studio
.vs/

obj/
bin/

/.vs/
/BackOffice/bin/
/BackOffice/obj/

/.vs/slnx.sqlite
/BackOffice/obj/Debug/

obj/*
bin/*

/.vs/*
/BackOffice/bin/*
/BackOffice/obj/*

BackOffice/obj/*
/BackOffice/obj/Debug/net8.0/*
/BackOffice/obj/*
