@page
@model Backoffice.DataAccessLayer.Models.Product;
@{

}


<form asp-action="Edit" method="post">
    <div class="left-side-container">
        <input asp-for="Id" type="hidden" />
        <!-- Name -->
        <label for="edit-name" asp-for="Name">Name:</label>
        <input type="text" id="edit-name" asp-for="Name" name="edit-name" value="@Model?.ProductEditForm?.Name" />
        <!-- Type -->
        <label for="edit-type" asp-for="Type">Type:</label>
        <input type="text" id="edit-type" asp-for="Type" name="edit-type" value="@Model?.ProductEditForm?.Type" />
        <!-- Description -->
        <label for="edit-description" asp-for="Description">Description:</label>
        <input type="text" id="edit-description" asp-for="Description" name="edit-description" value="@Model?.ProductEditForm?.Description" />
        <!-- Availability -->
        <div class="availabilityContainer">
            <label for="edit-availability" asp-for="Availability" >Availability:</label>
            <input type="number" id="edit-availability" asp-for="Availability" name="edit-availability" value="@Model?.ProductEditForm?.Availability" />
            <!-- min. Availability -->
            <label for="edit-min-availability" asp-for="MinimumAvailablility">minimum Availability:</label>
            <input type="number" id="edit-min-availability" asp-for="MinimumAvailablility" name="edit-min-availability" value="@Model?.ProductEditForm?.MinimumAvailablility" />
        </div>
        <!-- Image path -->
        <label for="edit-imagePath">Image Path:</label>
        <input type="text" id="edit-imagePath" name="edit-imagePath" value="@Model?.ProductEditForm?.ImagePath" />
    </div>
    <div class="right-side-container">
        <!-- abs price -->
        <label for="edit-abs-price" asp-for="Price">Absolute Price:</label>
        <input type="number" id="edit-abs-price" asp-for="Price" name="edit-abs-price" value="@Model?.ProductEditForm?.Price" /><span class="currency">€</span>
        <!-- kost price -->
        <label for="edit-kost-price" asp-for="KostPrice">Cost Price:</label>
        <input type="number" id="edit-kost-price" asp-for="KostPrice" name="edit-kost-price" value="@Model?.ProductEditForm?.KostPrice" /><span class="currency">€</span>
        <!-- sale price -->
        <label for="edit-sale-price" asp-for="SalePercentage">Sale Price:</label>
        <input type="number" id="edit-sale-price" asp-for="SalePercentage" name="edit-sale-price" value="@Model?.ProductEditForm?.SalePercentage" /><span class="percentage">%</span>
    </div>
    <div class="buttonContainer">
        <button type="button" class="edit-cancel-btn editForm-Btn" asp-action="editForm-Cancel">Cancel</button>
        <button type="submit" class="edit-save-btn editForm-Btn" asp-action="editForm-save">Save</button>
    </div>



</form>
