
@model BackOffice.DataAccessLayer.Models.ProductenViewModel;
@{

}
<head>
    <link rel="stylesheet" href="~/css/producten.css" asp-append-version="true" />
</head>

<form asp-controller="Producten" method="post">
    <div class="left-side-container">
        <input type="hidden" name="ProductEditForm.Id" value="@Model?.ProductEditForm?.Id" />
        <!-- Name -->
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="ProductEditForm.Name" asp-for="@Model.ProductEditForm.Name" value="@Model?.ProductEditForm?.Name" />
        <!-- Type -->
        <label for="Type">Type:</label>
        <input type="text" id="Type" name="ProductEditForm.Type" value="@Model?.ProductEditForm?.Type" />
        <!-- Description -->
        <label for="Description">Description:</label>
        <input type="text" id="Description" name="ProductEditForm.Description" value="@Model?.ProductEditForm?.Description" />
        <!-- Availability -->
        <div class="availabilityContainer">
            <label for="Availability"> Availability:</label>
            <input type="number" id="Availability" name="ProductEditForm.Availability" value="@Model?.ProductEditForm?.Availability" />
            <!-- min. Availability -->
            <label for="MinimumAvailablility">minimum Availability:</label>
            <input type="number" id="MinimumAvailablility" name="ProductEditForm.MinimumAvailablility" value="@Model?.ProductEditForm?.MinimumAvailablility" />
        </div>
        <!-- Image path -->
        <label for="ImagePath">Image Path:</label>
        <input type="text" id="ImagePath" name="ProductEditForm.ImagePath" value="@Model?.ProductEditForm?.ImagePath" />
    </div>
    <div class="right-side-container">
        <!-- abs price -->
        <label for="Price">Absolute Price:</label>
        <div class="input-wrapper">
            <input type="number" id="Price" name="ProductEditForm.Price" value="@Model?.ProductEditForm?.Price" /><span class="currency">€</span>
        </div>
        <!-- kost price -->
        <label for="KostPrice">Cost Price:</label>
        <div class="input-wrapper">
            <input type="number" id="KostPrice" name="ProductEditForm.KostPrice" value="@Model?.ProductEditForm?.KostPrice" /><span class="currency">€</span>
        </div>
        <!-- sale price -->
        <label for="SalePercentage">Sale Price:</label>
        <div class="input-wrapper">
            <input type="number" id="SalePercentage" name="ProductEditForm.SalePercentage" value="@Model?.ProductEditForm?.SalePercentage" /><span class="percentage">%</span>
        </div>
    </div>
    <div class="buttonContainer">
        <a asp-controller="Producten" asp-action="Index" class="edit-cancel-btn editForm-Btn">Cancel</a>
        <button type="submit" asp-action="EditProduct" class="edit-save-btn editForm-Btn">Save</button>
    </div>



</form>
